//
//  Config 2.swift
//  rurouni-fitness
//
//  Created by  Антон Штрамвасов on 01.04.2026.
//


//
//  Config.swift
//  rurouni-fitness
//
//  Created by  Антон Штрамвасов on 31.03.2026.
//

import Foundation

enum Config {
    static let baseURL = "url"
}
